apiVersion: v1
kind: Service
metadata:
  name: cordum-api-gateway
  namespace: cordum
  labels:
    app: cordum-api-gateway
---
apiVersion: v1
kind: Service
metadata:
  name: cordum-scheduler
  namespace: cordum
  labels:
    app: cordum-scheduler
